body {
  @include text-setting('base');
  font-family: 'MuseoSansCyrl';
  background-color: theme-color('background', 'base');
  min-width: 320px;
  
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.container {
  max-width: 951px;
}
p {
  line-height: 145%;
  // color: #424242;
}

.centered {
 text-align: center;
}

a {
  text-decoration: none;
}

li::marker {
  text-decoration: none;
}

a:hover, a:focus {
  // color: #7b7b7b;
  text-decoration: none;
}

