@media(min-width:320px) {
  .header_theme_imageHero {
    padding-top:30px;
  }
  .hero {
    &__title {
    font-size: 0;
  }
    &__img {
      margin-top: 32px;
    }
  }
  .cards {
    &-about {
      margin-bottom: 0;
    }
    &-services__title{
      font-size:30px;
    }
  }
  .card-about {
    display: block;
    &__img{
      width: 300px;
      height: 300px;
    }
    &__subtitle{
      text-align: center;
    }
  } 
  .form {
    padding: 15px;
    &__header {
      padding-top: 0;
      font-size: 0;
    }
  }
  .footer {
    padding-bottom: 10px;
    &__row {
      display: block;
      padding-top: 20px;
      text-align: center;
    }
    &__logo img{
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

@media(min-width:320px) {
  .container {
    padding: 30px 80px;
  }
  .cards-services {
    &__title {
      margin-top: 0;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      gap:15px;
    }
  }
  .card-about {
    margin-top: 0;
    display: block;
    &__img{
      width: 392px;
      height: 392px;
      margin-left: 30px;
    }
    &__subtitle{
      font-size:25px;
    }
  } 
  .footer {
    padding-bottom: 10px;
    &__row {
      display: flex;
      column-gap: 0;
    }
    &__slogan {
      font-size: 0;
    }
    &__logo img{
      display: none;
    }
  }
}

@media(min-width:768px) {
  .cards-services {

    &__content {
      display: flex;
      flex-wrap: wrap;
      gap:15px;
    }
  }
  .hero {
    &__title {
    font-size: 75px;
    }
  }
  .card-about {
    margin-top: 0;
    display: block;
    &__img{
      width: 392px;
      height: 392px;
      margin-left: 30px;
    }
    &__subtitle{
      font-size:25px;
    }
  } 
    .form {
      &__header {
        padding-top: 50px;
        font-size: 30px;
      }
  }
}


@media(min-width:1024px) {
  .container {
    padding: 0;
  }
  .cards-services {
    &__title {
      font-size: 50px;
      margin-top: 91px;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      gap:15px;
    }
  }
  .card-about {
    padding-top: 87px;
    display: flex;
    &__subtitle{
      font-size: 30px;
    }
  }
  .form {
    max-width: 433px;
    &__header{
      margin-top: 144px;
    }
  }
  .footer {
    padding-bottom: 10px;
    &__row {
      display: flex;
      column-gap: 50px;
      padding-top: 60px;
    }
    &__slogan {
      font-size: 12px;
    }
    &__logo img{
      display: block;
      margin-bottom: 0;
    }
  }
} 
// @media(min-width:1440px) {
//   .container {
//     max-width: 1320px;
//     }
// }