.cards-services {
  &__content {
    display: flex;
    margin-top: 45px;
    justify-content: center;
    column-gap:50px;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #999B9A;
    margin-top: 91px;
  }
}
.card-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
  &__body{
    max-width: 202px;
  }
  &__title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #212121;
    max-width: 128px;
    margin: 0 auto;
  }
  &__line{
    width: 35px;
    height: 0px;
    left: 331px;
    top: 1070.15px;
    border: 3px solid #DCCE90;
    margin: 0 auto;
    margin-top: 8px;
    &_color_green{
      border-color:#29B4AD;
    }
    &_color_great{
      border-color:#B5B7B6;
    }
  }
  &__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 145%;
    color: #212121;
    margin-top: 15px;
  }
}