.card {
  align-items: center;
  justify-content: center;
  min-width: 237.75px;
  min-height:237.75px;
  border-radius: 0;
  border: 0;
  &_logo {
    &:hover {
      transform: scale(0.95);
      transition: transform 200ms, filter 200ms;
      filter: drop-shadow(1px 2px 10px rgba(128, 128, 128, 0.308));
    }
  }
  &__contact {
    &:hover {
      transform: scale(0.95);
      transition: transform 200ms, filter 200ms;
      filter: drop-shadow(1px 2px 10px rgba(128, 128, 128, 0.308));
    }
  }
  &_services {
    background-image: url(../assets/img/header_img/Services.png);
    &:hover {
      transform: scale(0.95);
      transition: transform 200ms, filter 200ms;
      filter: drop-shadow(1px 2px 10px rgba(128, 128, 128, 0.308));
    }
  }
  &_instructionalDesign  {
    background-image: url(../assets/img/header_img/Desing.png);
    &:hover {
      transform: scale(0.95);
      transition: transform 200ms, filter 200ms;
      filter: drop-shadow(1px 2px 10px rgba(128, 128, 128, 0.308));
    }
  }
  &_eLearningDevelopment {
    background-image: url(../assets/img/header_img/Development.png);
    &:hover {
      transform: scale(0.95);
      transition: transform 200ms, filter 200ms;
      filter: drop-shadow(1px 2px 10px rgba(128, 128, 128, 0.308));
    }
  }
  &_eLearningPriceQuot {
    background-image: url(../assets/img/header_img/PriceQuote.png);
    &:hover {
      transform: scale(0.95);
      transition: transform 200ms, filter 200ms;
      filter: drop-shadow(1px 2px 10px rgba(128, 128, 128, 0.308));
    }
  }
  &_rectangle {
    background-image: url(../assets/img/header_img/Rectangle.png);
    &:hover {
      transform: scale(0.95);
      transition: transform 200ms, filter 200ms;
      filter: drop-shadow(1px 2px 10px rgba(128, 128, 128, 0.308));
    }
  }
  &_eLearningPackages {
    background-image: url(../assets/img/header_img/Packages.png);
    &:hover {
      transform: scale(0.95);
      transition: transform 200ms, filter 200ms;
      filter: drop-shadow(1px 2px 10px rgba(128, 128, 128, 0.308));
    }
  }
  &__line {
    width: 175.93px;
    border: 1.03845px solid #DED098;
  }
  &__title {
    font-weight: 400;
    font-size: 23.775px;
    max-width: 150px;
    @include contrast('light', 'primary');
    // color: #FFFFFF;
    &-text {
      max-width: 129px;
      @include contrast('dark', 'secondary');
      font-weight: 400;
      font-size: 16.6425px;
      line-height: 20px;
      margin: 0 auto;
    }
  }
  &_bg_color{
    background-color: theme-color('accent', 'base');
  }

}