.form {
  max-width: 433px;
  margin: 0 auto;
  &__header {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    font-weight: 300;
    margin-top: 62px;

  }
  &__btn {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 27.5px;
    width: 205px;
    margin: 0 auto;
    margin-top: 57px;
    margin-bottom: 62px;
    padding: 16px 0;
  }
  &__btn:hover {
    background-color: rgb(19, 121, 121);
  }
}