.header {
  &_theme_imageHero {
    background-image: url(../assets/img/header_img/Hero.png);
    min-height: 681px;
    width: 100%;
    padding-top: 103px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &__line {
    max-width: 1175px;
    height: 10px;
    background-color: #3d948e;
    margin: 0 auto;
  }
}
.hero {
  &-thema {
    background-image: url(../../../assets/img/main_img/hero.png);
    min-height: 460px;
    width: 100%;
    margin-top: 105px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &__title {
    font-weight: 600;
    font-size: 75px;
    line-height: 100%;
    text-transform: uppercase;
    color: #424242;
  }
  &__text {
    font-weight: 250;
    font-size: 35px;
    line-height: 100%;
    text-transform: capitalize;
    color: #424242;
    margin-top: 5px;
  }
  &__btn {
    left: 247px;
    top: 3142px;
    background: #3d948c;
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 35px;
  }
  &__img {
    max-width: 259px;
  }
}
.line{
  max-width: 75%;
  height: 10px;
  left: 133px;
  top: 3267px;
  background: #3D948E;
  margin: 0 auto;
}

.footer {
  padding-bottom: 97px;
  &_theme {
    background-color: #414141;
    width: 100%;
  }
  &__row {
    display: flex;
    justify-content: center;
    padding-top: 66px;
    column-gap: 100px;
  }
  &__slogan {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #929292;
  }
  &__item {
    margin-top: 10px;
  }
}

.copyright {
  &-bg {
    background: #383838;
  }
  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    display: block;
    color: #595959;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.toggle {
  position: fixed;
  padding-left: 50px;
}