.nav {
  background: #343434;
  &__logo{
    width: 107px;
    height: 28px;
  }
  &__item{
    margin-left: 15px;
  }
  &__link{
    font-weight: 300;
    @include text-setting('xs');
    @include contrast('light', 'primary');
  }
  &__link:hover{
    color: #8cbcdc;
  }
}
