.nav {
  background: #343434;

  &__item{
    margin-left: 15px;
  }
  &__link{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
  }
  &__link:hover{
    color: #8cbcdc;
  }
}
