@font-face {
  font-family: "MuseoSansCyrl";
  src: url(MuseoModerno-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url(MuseoModerno-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url(MuseoModerno-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}